:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------- Nav Bar ------------------- */

nav {
  width: 100%;
  background-color: #fff; /* Light background color for the nav bar */
  border-bottom: 1px solid #ddd; /* Subtle border to separate the nav bar */
  position: fixed; /* Fix the nav bar at the top */
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px; /* Set a fixed height for the nav bar */
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  display: block;
}

h1, h2 {
  margin-top: 70px; /* Add top margin to avoid content being hidden under the fixed nav bar */
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

.container {
  padding: 20px;
  text-align: center; /* Center the text inside containers */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
