.booking-links-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.booking-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-card {
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.booking-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.booking-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: black;
}

.booking-card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  /* margin-bottom: 10px; */
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}


