
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eaecef;
}

.navbar {
  width: 180px;
  background-color: #011627;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all 0.8s;
}

.navbar.active {
  left: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li a {
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover, 
ul li a:active {
  background: #172b4d;
}

header svg {
  font-size: 30px;
}


.about {
  background-color: black;
  color: white;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 50vw;
  opacity: 0; 
  animation: fadeIn 2s forwards; 
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.about p {
  text-align: left;
}

footer {
  color: #fff;
  padding: 20px;
  text-align: center;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 28%; }
}

@keyframes cursor {
  from { border-right-color: rgba(255, 255, 255, 0.75); }
  to { border-right-color: transparent; }
}

.typewriter {
  float: inline-start;
  padding-left: 100px;
  overflow: hidden; 
  border-right: .15em solid rgba(255, 255, 255, 0.75); 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .08em; 
  animation: 
      typewriter 4s steps(40, end) 1s 1 normal both, 
      cursor 500ms steps(40, end) infinite normal; 
}

header {
  background-color: #011627;
  height: 40px;
  padding: 30px;
}
